.dialog {
  background-color: var(--color-bg);
  padding: 1rem 2rem;
  min-width: 300px;
  min-height: fit-content;
  position: absolute;
  border-radius: 10px;
  top: 50vh;
  right: 50vw;
  box-shadow: inset 0px 0px 5px var(--color-primary);
}

.dialog .title {
  color: var(--color-primary);
  justify-self: center;
}

.border {
  border-bottom: 2px solid var(--color-highlight);
  margin-bottom: 1rem;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup-content input {
  background-color: var(--color-primary);
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.popup-content p {
  color: var(--color-primary);
}

.popup-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  padding: .5rem 1rem;
}

#cancel-button {
  background-color: var(--color-primary);
}

#update-button {
  background-color: var(--color-highlight);
}

#delete-button {
  background-color: rgba(252, 32, 32, 0.901);
}
