.dialog {
  background-color: var(--color-bg);
  padding: 1rem 2rem;
  min-width: 300px;
  min-height: fit-content;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 5px var(--color-primary);
}

.dialog .title {
  color: var(--color-primary);
  justify-self: center;
}

.border {
  border-bottom: 2px solid var(--color-highlight);
  margin-bottom: 1rem;
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}

.popup-content input {
  background-color: var(--color-primary);
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.popup-content p {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--color-primary);
}

.popup-content .bib {
  grid-area: 1 / 1 / 2 / 2;
}
.popup-content .age {
  grid-area: 1 / 2 / 2 / 3;
}
.popup-content .sex {
  grid-area: 1 / 3 / 2 / 4;
}
.popup-content .lName {
  grid-area: 2 / 1 / 3 / -1;
}
.popup-content .fName {
  grid-area: 3 / 1 / 4 / -1;
}
.popup-content .city {
  grid-area: 4 / 1 / 5 / -1;
}
.popup-content .handicap {
  grid-area: 5 / 1 / 6 / 2;
}
.popup-content .raceNo {
  grid-area: 6 / 1 / 7 / 2;
}
.popup-content .division {
  grid-area: 6 / 2 / 7 / 3;
}

.popup-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  padding: .5rem 1rem;
}

#cancel-button {
  background-color: var(--color-primary);
}

#update-button, #save-button, #add-button, #import-button, #export-button {
  background-color: var(--color-highlight);
}

#delete-button {
  background-color: rgba(252, 32, 32, 0.901);
}
