.tab-display {
  width: auto;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  justify-content: center;
}

.tab-btn {
  border: 2px solid var(--color-highlight);
  background-color: var(--color-bg);
  max-height: max-content;
  padding: .5rem 1rem;
  margin-top: 1rem;
  color: var(--color-primary);
  font-size: 16px;
  border-radius: 20px 20px 0 0;
}
