.timer-tab {
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem;
}

.timer-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.timer-info-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.timer-buttons-container {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: .5rem;
}

#start-record-button {
  grid-area: 5 / 1 / 6 / -1;
}

.timer-button {
  min-height: 4rem;
  min-width: 5rem;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.timer-btn-reg {
  background-color: var(--color-primary);
  box-shadow: inset 0px 0px 8px 6px #bab1a6db, 3px 3px 9px black;
}

.timer-btn-color {
  background-color: var(--color-highlight);
  box-shadow: inset 0px 0px 8px 6px #c05000, 3px 3px 9px black;
}
