:root {
  --color-text-highlight: #fef2e3;
  --color-text: black;
  --color-highlight: #ed6300;
  --color-highlight-fade: #ed6300c8;
  --color-primary: #fef2e3;
  --color-bg: #383837;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-bg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  background-color: var(--color-primary);
  padding: 4px 32px;
  box-shadow: 0px 2px 7px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

header h1 {
  color: var(--color-text-highlight);
  font-family: "McLaren", cursive;
  font-weight: 200;
}

h4 {
  color: var(--color-highlight);
}

header img {
  height: 4rem;
}

footer {
  position: static;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--color-highlight-fade);
}

.App {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

.timer-tab {
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem;
}

.timer-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timer-info-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.timer-buttons-container {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: .5rem;
}

.timer-button {
  min-height: 4rem;
  min-width: 5rem;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.timer-btn-reg {
  background-color: var(--color-primary);
  box-shadow: inset 0px 0px 8px 6px #bab1a6db, 3px 3px 9px black;
}

.timer-btn-color {
  background-color: var(--color-highlight);
  box-shadow: inset 0px 0px 8px 6px #c05000, 3px 3px 9px black;
}
