@import './components/text.css';
@import './components/timer.css';

:root {
  --color-text-highlight: #fef2e3;
  --color-text: black;
  --color-highlight: #ed6300;
  --color-highlight-fade: #ed6300c8;
  --color-primary: #fef2e3;
  --color-bg: #383837;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-bg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  background-color: var(--color-primary);
  padding: 4px 32px;
  box-shadow: 0px 2px 7px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

header img {
  height: 4rem;
}

footer {
  position: static;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

.App {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
