:root {
  --color-text: black;
  --color-highlight: #ed6300;
  --color-highlight-fade: #ed6300c8;
  --color-primary: #fef2e3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-primary);
  background-image: url("../assets/black-bg.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  background-color: var(--color-primary);
  padding: 4px 32px;
  box-shadow: 0px 2px 7px var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: var(--color-highlight);
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header img {
  height: 4rem;
}

footer {
  position: static;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--color-highlight-fade);
}

.App {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
