:root {
  --color-text: #361c00;
  --color-bg: #ed6300be;
  --color-primary: #fef2e3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-bg);
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  padding: 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  background-color: var(--color-primary);
  padding: 4px 32px;
  box-shadow: 0px 2px 7px var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: var(--color-text);
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header img {
  height: 4rem;
}

footer {
  position: static;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--color-text);
}

.App {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
