@import './components/timer.css';
@import './components/record-display.css';
@import './components/popup.css';
@import './components/tab.css';
@import './components/button-bar.css';
@import './components/header.css';
@import './components/footer.css';

:root {
  --color-text-highlight: #fef2e3;
  --color-text: black;
  --color-highlight: #ed6300;
  --color-highlight-fade: #ed6300c8;
  --color-primary: #fef2e3;
  --color-bg: #383837;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-bg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.App {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

h4 {
  color: var(--color-highlight);
}
