.record-container, .display-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 5fr;
  border-bottom: 1px solid gray;
  padding: .25rem 0rem;
}

.records-display-container {
  min-width: 45vw;
  min-height: 75vh;
  background-color: var(--color-primary);
  border-radius: 4px;
  padding: .5rem .5rem;
}

.racer-tab-record {
  grid-template-columns: 1fr 9fr 2fr;
}

.racer-display-grid {
  grid-template-columns: 2fr 2fr 2fr 2fr 4fr;
  grid-template-rows: auto auto;
}

.category-display-grid {
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: auto auto;
}

.result-display-grid {
  grid-template-columns: 1fr 1fr 2fr 3fr 2fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.result-display-grid > #place {
  grid-area: 1 / 1 / 2 / 2;
}
.result-display-grid > #bib {
  grid-area: 1 / 2 / 2 / 3;
}
.result-display-grid > #timeAdjusted {
  grid-area: 1 / 3 / 2 / 4;
}
.result-display-grid > #name {
  grid-area: 1 / 4 / 2 / 5;
}
.result-display-grid > #city {
  grid-area: 1 / 5 / 2 / 6;
}
.result-display-grid > #sex {
  grid-area: 1 / 6 / 2 / 7;
}
.result-display-grid > #category {
  grid-area: 1 / 7 / 2 / 8;
}
